.container {
  padding: 100px;
}

body {
  background-color: whitesmoke;
}

.revealPaint {
  display: none;
}

/* input[value=painted]:checked ~ .revealPaint  */

{
  opacity: 1;
  max-height: 100px;
  overflow: hidden;
}
